

.header{
    height: 100px;
    background: #DEDEDE;
}

button{
    border: 1px solid;
    background-color: #5f0404;
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #333;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}

.prev-button, .next-button{  
    height: 25px;
    width: 25px;   
    float: left;    
}


button:hover{
    background: #e8eaeb;
}

.add, .refresh{
    width: 100px;
    margin: 60px 0 3px 3px;
    padding: 5px;
    font-size: 14px;    
}

.add{
    margin-left: 30px;
    float: left;
}

.today{
    width: 70px;
    height: 25px; 
    margin-left: 5px;  
    padding: 2px;
    font-size: 14px;
}

.today:disabled{
    background-image: none;
    opacity: 0.65;
}

.prev-button-icon::after{
    content: "	\25C0";
}

.next-button-icon::after{
    content: "	\25B6";
}
.search-icon::after{
    content: "	\1F50D";
    color: rgb(38.2%, 40.9%, 38.2%)
}

h3{
    float: left;
    margin: 3px 10px;
    text-align: center;
    width: 140px;
}

label{
    float: right;
}

/*input[type=text]{
    width: 200px;
    padding: 3px;
    margin: 60px 40px 3px 1px;
}*/

.calendar{
    margin: 30px auto;
    max-width: 1200px;
}

table{
    margin: 20px auto;
    margin-bottom: 0;
    border-collapse: collapse;
}

.myClass{
    position: relative;
}

td, th{
    font-size: 1.3vmax;
    color: rgb(180, 177, 177);
    height: 75px;
    width: 150px;
    border: 1px solid #DEDEDE;
    text-align: left;
    vertical-align: top;
    padding: 15px;
}

.myClass:hover{
    background:  rgb(150, 149, 149);
    color: rgb(255, 255, 255);
}

.todayTD{
    background: rgb(110, 102, 85);
}
th{
    height: 15px;
    text-align: center;
}
h3{
    height: 50px;
}

#addEvent-form{
    background: rgb(230, 230, 230);
    width: 300px;
    height: 320px;
    position: absolute;
    z-index: 100;
    left: 120px;
    bottom: 0;
    display: none;
    border: 1px #a4a9ab solid;
    border-radius: 4px;
    text-align: center;
}

input[type='text']{
    width: 250px;
    height: 15px;
    padding: 4px;
    font-size: 14px;
}

textarea{
    width: 250px;
    height: 150px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 4px;
    font-size: 14px;
}

#addEvent-form > [type=submit]{
    width: 250px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 10px;
}

input[name="event"],
#description {
    width: 150px;
    padding: 5px;
    margin: 0 20px 20px 20px;
    font-size: 12px;
}

#description{
    font-family: Arial, Helvetica, sans-serif;
}

.close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}   
        

.icon-close::after{
    content: "\2716";
    font-family:'Comic Sans MS';
    font-size: 11px;
    font-weight: bold;
}

.ok{
    height: 30px;
    width: 100px;
    margin-left: 51px;
}

/*mobile*/

@media screen and (max-width: 900px) {

    
    .calendar{
        margin: 50px;
    }

    td,th{
        max-width: 100px;
     /*   font-size: 13px;*/
        
    }

    td{
        height: 50px;
    }
  }

  @media screen and (max-width: 600px) {
    .calendar{
        margin: 25px;
    }
   
    td,th{
        max-width: 60px;
        font-size: 10px;
        padding: 5px;
    }

    input[type=text]{
        width: 175px;
    }
  }

  @media screen and (max-width: 480px) {
   
    td,th{
        max-width: 50px;
        font-size: 8px;
        padding: 5px;
    }
  }